.social{
    position: absolute;
            left: 33%;
            top: 300px;
}
ul{
    
    display: flex;
    li{
    margin-left: 50px;
    }

    img{
        
        width: 50px;
        left: 45%;

       
    }
}

@media screen and (max-width: 360px){
    .social{
        position: absolute;
                left: 0%;
                top: 380px;
    }
    ul{
        
        display: flex;
        li{
        margin-left: 30px;
        }
    
        img{
            
            width: 50px;
            left: 45%;
    
           
        }
    }
}